@model YahooGroups.Models.CategoryModel

@{
    ViewBag.Title = "Edit category";
}

<div class="jumbotron jumbotron-fluid" style="background-color:#974a58">
    <div class="container-fluid">
        <h1 class="text-center" style="color:#ECF1EE">Edit category: @Model.Name</h1>
    </div>
</div>

<div class="vw-100 d-flex flex-row align-items-center justify-content-around">
    <img class="w-25" src="~/Assets/Groups/FormFill.svg" />

    <form class="w-50" method="post" action="/Category/Edit/@Model.CategoryId">

        @Html.HttpMethodOverride(HttpVerbs.Put)

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.CategoryId)

        @Html.LabelFor(model => model.Name, "Category Name")
        <br />
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        <br />

        <button type="submit" class="btn btn-success">Update category info</button>
    </form>
</div>

