@model YahooGroups.Models.CategoryModel

@{
    ViewBag.Title = "Add a new category";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="/Category/New">

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.CategoryId)

    @Html.Label("Name", "Category Name")

    @Html.EditorFor(model => model.Name)

    <button type="submit" class="btn">Create category</button>
</form>