@model YahooGroups.Models.GroupModels
@{
    ViewBag.Title = "Create a new group";
}

<h1>@ViewBag.Title</h1>
<hr />
<br />

<form method="post" action="/Group/CreateGroup/@ViewBag.ModeratorId">

    @Html.HiddenFor(model => model.groupId)
    @Html.HiddenFor(model => model.moderatorId)

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.groupName)
    <br />
    @Html.EditorFor(model => model.groupName)
    <br /><br />

    @Html.LabelFor(model => model.groupDescripiton)
    <br />
    @Html.EditorFor(model => model.groupDescripiton)
    <br /><br />

    @Html.LabelFor(model => model.privateGroup)
    <br />
    @Html.CheckBoxFor(model => model.privateGroup)
    <br /><br />

    @Html.LabelFor(model => model.CategoryId)
    <br />
    @Html.DropDownListFor(model => model.CategoryId, new SelectList(ViewBag.Categories, "Value", "Text"), "Pick a category", new { @class = "form-control" })
    <br /><br />

    <button class="btn btn-success" type="submit">Create Group</button>
</form>

