@model YahooGroups.Models.GroupModels

@{
    
    ViewBag.Title = "Create a new group";
}

<div class="jumbotron jumbotron-fluid" style="background-color:#974a58">
    <div class="container-fluid">
        <h1 class="text-center" style="color:#ECF1EE">Bring your digital community to life</h1>
    </div>
</div>

<div class="vw-100 d-flex flex-row align-items-center justify-content-around">
    <img class="w-25" src="~/Assets/Groups/FormFill.svg" />

    <form class="w-50" method="post" action="/Group/CreateGroup">

        @Html.HiddenFor(model => model.groupId)
        @Html.HiddenFor(model => model.moderatorId)

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.groupName, "Group Name")
        <br />
        @Html.EditorFor(model => model.groupName, new { htmlAttributes = new { @class = "w-100 rounded form-control" } })
        <br /><br />

        @Html.LabelFor(model => model.groupDescripiton, "Group Description")
        <br />
        @Html.EditorFor(model => model.groupDescripiton, new { htmlAttributes = new { @class = "w-100 rounded form-control" } })
        <br /><br />

        @Html.LabelFor(model => model.privateGroup, "Check to make group invite-only")
        <br />
        @Html.CheckBoxFor(model => model.privateGroup)
        <br /><br />

        @Html.LabelFor(model => model.CategoryId, "Pick a category")
        <br />
        @Html.DropDownListFor(model => model.CategoryId, new SelectList(ViewBag.Categories, "Value", "Text"), "Pick a category", new { @class = "form-control" })
        <br /><br />

        <button class="btn btn-success" type="submit">Create Group</button>
    </form>
</div>



