@model YahooGroups.Models.GroupModels

<h1>@Model.groupName</h1>
<em>Moderator: @ViewBag.Moderator</em>
<p>@Model.groupDescripiton</p>
<hr />

@if (User.IsInRole("moderator") || User.IsInRole("admin") || ViewBag.CurrentId == Model.moderatorId)
{
    using (Html.BeginForm(actionName: "Delete", controllerName: "Group", routeValues: new { id = @Model.groupId }))
    {

        @Html.HttpMethodOverride(HttpVerbs.Delete)

        <button class="btn btn-danger" type="submit">Delete group</button>
    }
    <br />
}

<h3>Members:</h3>
@foreach (var user in Model.Users)
{
    <span>@user.Email</span>
}
<br />

@if (!ViewBag.HasJoined)
{
    <form method="post" action="/Group/Join/@Model.groupId/@ViewBag.CurrentId">
        <button class="btn btn-primary" type="submit">Join Group</button>
    </form>
    <br />
}
<a class="btn btn-success" href="/Group/Index/">Show all groups</a>
