@model YahooGroups.Models.GroupModels

<h1>@Model.groupName</h1>
<em>Moderator: @ViewBag.Moderator</em>
<p>@Model.groupDescripiton</p>
<hr />

@using (Html.BeginForm(actionName: "Delete", controllerName: "Group", routeValues: new { id = @Model.groupId }))
{

    @Html.HttpMethodOverride(HttpVerbs.Delete)

    <button class="btn btn-danger" type="submit">Delete group</button>
}
<br />
<a class="btn btn-success" href="/Group/Index/">Show all groups</a>

<br />
@foreach (var user in ViewBag.Users)
{
    if (user == Model.groupId)
    {
        <p>@user.UserName</p>
        <button class="btn btn-success" type="submit">Elimina din grup</button>
    }

}
<hr />
<br />
